/* make second column content in overview purple on hover*/

.border-warning  :hover{
    color: blueviolet;
}
/* change the nav list style to none*/
li{
    list-style: none;
}
/* make non-muted contant in borders purple on hover*/
.border  :hover{
    color: rgb(211, 15, 236);
}
/* make nav list icon white on hover*/
nav :hover{
    color: white;
    
}
input{
    width: 40px;
}
.form-control{
    height: 40px;
    width: 10px;
}
label{
    height: 40px;
    width: 10px;
}
a{
    text-decoration: none;
}
